@page
@model LEADRS_NEW_DBFirst.Pages.DRE.IntoxilyzerReports.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DreCaseIntoxilyzerReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.ProvidedBreath" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.ProvidedBreath" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.ProvidedBreath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.ProvidedBlood" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.ProvidedBlood" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.ProvidedBlood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.ProvidedUrine" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.ProvidedUrine" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.ProvidedUrine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.ProvidedSaliva" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.ProvidedSaliva" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.ProvidedSaliva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.AttemptedBreath" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.AttemptedBreath" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.AttemptedBreath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.AttemptedBlood" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.AttemptedBlood" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.AttemptedBlood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.AttemptedUrine" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.AttemptedUrine" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.AttemptedUrine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.AttemptedSaliva" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.AttemptedSaliva" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.AttemptedSaliva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.RefusedBreath" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.RefusedBreath" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.RefusedBreath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.RefusedBlood" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.RefusedBlood" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.RefusedBlood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.RefusedUrine" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.RefusedUrine" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.RefusedUrine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.RefusedSaliva" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.RefusedSaliva" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.RefusedSaliva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodTaken" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodTaken" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathDateGiven" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathDateGiven" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathDateGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathBeginWait" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathBeginWait" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathBeginWait" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathVerifytempId" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathVerifytempId" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathVerifytempId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathSubjectComments" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathSubjectComments" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathSubjectComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathIntoxOperatorL5" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathIntoxOperatorL5" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathIntoxOperatorL5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathOperatorName" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathOperatorName" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathOperatorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathOperatorAgency" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathOperatorAgency" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathOperatorAgency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathRecordNumber" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathRecordNumber" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathRecordNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathSerialNumber" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathSerialNumber" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathSerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathResult1" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathResult1" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathResult1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathResult1Time" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathResult1Time" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathResult1Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathResult2" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathResult2" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathResult2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathResult2Time" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathResult2Time" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathResult2Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BreathMoreLessIntoxIdL5" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BreathMoreLessIntoxIdL5" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BreathMoreLessIntoxIdL5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodVials" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodVials" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodVials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodNamePwd" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodNamePwd" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodNamePwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodEmployerPwd" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodEmployerPwd" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodEmployerPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodEmployedIdPwd" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodEmployedIdPwd" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodEmployedIdPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodPhonePwd" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodPhonePwd" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodPhonePwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodLocationBwd" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodLocationBwd" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodLocationBwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodDatetimeSpecimenExtractedBwd" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodDatetimeSpecimenExtractedBwd" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodDatetimeSpecimenExtractedBwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodDescriptionBwd" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodDescriptionBwd" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodDescriptionBwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodMoreLessIntoxId" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodMoreLessIntoxId" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodMoreLessIntoxId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodPreservative" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodPreservative" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodPreservative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodNoAlcohol" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodNoAlcohol" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodNoAlcohol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.BloodRotated" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.BloodRotated" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.BloodRotated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.UrineDreObserved" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.UrineDreObserved" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.UrineDreObserved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.UrineWhoObserved" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.UrineWhoObserved" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.UrineWhoObserved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.UrineToxScreenPerformed" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.UrineToxScreenPerformed" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.UrineToxScreenPerformed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.SalivaDreObserved" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.SalivaDreObserved" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.SalivaDreObserved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.SalivaWhoObserved" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.SalivaWhoObserved" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.SalivaWhoObserved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.SalivaToxScreenPerformed" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.SalivaToxScreenPerformed" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.SalivaToxScreenPerformed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxilyzerReport.DreCaseId" class="control-label"></label>
                <input asp-for="DreCaseIntoxilyzerReport.DreCaseId" class="form-control" />
                <span asp-validation-for="DreCaseIntoxilyzerReport.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
