@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Videos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCaseVideo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCaseVideo.DreCaseVideoId" />
            <div class="form-group">
                <label asp-for="DreCaseVideo.DreCaseId" class="control-label"></label>
                <select asp-for="DreCaseVideo.DreCaseId" class="form-control" asp-items="ViewBag.DreCaseId"></select>
                <span asp-validation-for="DreCaseVideo.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseVideo.VideoS3url" class="control-label"></label>
                <input asp-for="DreCaseVideo.VideoS3url" class="form-control" />
                <span asp-validation-for="DreCaseVideo.VideoS3url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseVideo.ArchiveId" class="control-label"></label>
                <input asp-for="DreCaseVideo.ArchiveId" class="form-control" />
                <span asp-validation-for="DreCaseVideo.ArchiveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseVideo.ApiKey" class="control-label"></label>
                <input asp-for="DreCaseVideo.ApiKey" class="form-control" />
                <span asp-validation-for="DreCaseVideo.ApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseVideo.CreatedBy" class="control-label"></label>
                <input asp-for="DreCaseVideo.CreatedBy" class="form-control" />
                <span asp-validation-for="DreCaseVideo.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseVideo.CreatedDate" class="control-label"></label>
                <input asp-for="DreCaseVideo.CreatedDate" class="form-control" />
                <span asp-validation-for="DreCaseVideo.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseVideo.Status" class="control-label"></label>
                <input asp-for="DreCaseVideo.Status" class="form-control" />
                <span asp-validation-for="DreCaseVideo.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
