@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Ftns.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCasesFtn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCasesFtn.DreCaseFingerToNoseId" />
            <div class="form-group">
                <label asp-for="DreCasesFtn.DreCaseId" class="control-label"></label>
                <select asp-for="DreCasesFtn.DreCaseId" class="form-control" asp-items="ViewBag.DreCaseId"></select>
                <span asp-validation-for="DreCasesFtn.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedPad1" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedPad1" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedPad1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.MovedFinger1" class="control-label"></label>
                <input asp-for="DreCasesFtn.MovedFinger1" class="form-control" />
                <span asp-validation-for="DreCasesFtn.MovedFinger1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.OpenedEyes1" class="control-label"></label>
                <input asp-for="DreCasesFtn.OpenedEyes1" class="form-control" />
                <span asp-validation-for="DreCasesFtn.OpenedEyes1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedPad2" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedPad2" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedPad2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.MovedFinger2" class="control-label"></label>
                <input asp-for="DreCasesFtn.MovedFinger2" class="form-control" />
                <span asp-validation-for="DreCasesFtn.MovedFinger2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.OpenedEyes2" class="control-label"></label>
                <input asp-for="DreCasesFtn.OpenedEyes2" class="form-control" />
                <span asp-validation-for="DreCasesFtn.OpenedEyes2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedPad3" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedPad3" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedPad3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.MovedFinger3" class="control-label"></label>
                <input asp-for="DreCasesFtn.MovedFinger3" class="form-control" />
                <span asp-validation-for="DreCasesFtn.MovedFinger3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.OpenedEyes3" class="control-label"></label>
                <input asp-for="DreCasesFtn.OpenedEyes3" class="form-control" />
                <span asp-validation-for="DreCasesFtn.OpenedEyes3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedPad4" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedPad4" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedPad4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.MovedFinger4" class="control-label"></label>
                <input asp-for="DreCasesFtn.MovedFinger4" class="form-control" />
                <span asp-validation-for="DreCasesFtn.MovedFinger4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.OpenedEyes4" class="control-label"></label>
                <input asp-for="DreCasesFtn.OpenedEyes4" class="form-control" />
                <span asp-validation-for="DreCasesFtn.OpenedEyes4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedPad5" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedPad5" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedPad5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.MovedFinger5" class="control-label"></label>
                <input asp-for="DreCasesFtn.MovedFinger5" class="form-control" />
                <span asp-validation-for="DreCasesFtn.MovedFinger5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.OpenedEyes5" class="control-label"></label>
                <input asp-for="DreCasesFtn.OpenedEyes5" class="form-control" />
                <span asp-validation-for="DreCasesFtn.OpenedEyes5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedPad6" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedPad6" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedPad6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.MovedFinger6" class="control-label"></label>
                <input asp-for="DreCasesFtn.MovedFinger6" class="form-control" />
                <span asp-validation-for="DreCasesFtn.MovedFinger6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.OpenedEyes6" class="control-label"></label>
                <input asp-for="DreCasesFtn.OpenedEyes6" class="form-control" />
                <span asp-validation-for="DreCasesFtn.OpenedEyes6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.Swaying" class="control-label"></label>
                <input asp-for="DreCasesFtn.Swaying" class="form-control" />
                <span asp-validation-for="DreCasesFtn.Swaying" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.BodyTremors" class="control-label"></label>
                <input asp-for="DreCasesFtn.BodyTremors" class="form-control" />
                <span asp-validation-for="DreCasesFtn.BodyTremors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.EyelidTremors" class="control-label"></label>
                <input asp-for="DreCasesFtn.EyelidTremors" class="form-control" />
                <span asp-validation-for="DreCasesFtn.EyelidTremors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.MuscleTensions" class="control-label"></label>
                <input asp-for="DreCasesFtn.MuscleTensions" class="form-control" />
                <span asp-validation-for="DreCasesFtn.MuscleTensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.Sounds" class="control-label"></label>
                <input asp-for="DreCasesFtn.Sounds" class="form-control" />
                <span asp-validation-for="DreCasesFtn.Sounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.FtnNotes" class="control-label"></label>
                <input asp-for="DreCasesFtn.FtnNotes" class="form-control" />
                <span asp-validation-for="DreCasesFtn.FtnNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedWrongHand1" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedWrongHand1" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedWrongHand1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.StartedUseWrongHand1" class="control-label"></label>
                <input asp-for="DreCasesFtn.StartedUseWrongHand1" class="form-control" />
                <span asp-validation-for="DreCasesFtn.StartedUseWrongHand1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedWrongHand2" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedWrongHand2" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedWrongHand2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.StartedUseWrongHand2" class="control-label"></label>
                <input asp-for="DreCasesFtn.StartedUseWrongHand2" class="form-control" />
                <span asp-validation-for="DreCasesFtn.StartedUseWrongHand2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedWrongHand3" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedWrongHand3" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedWrongHand3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.StartedUseWrongHand3" class="control-label"></label>
                <input asp-for="DreCasesFtn.StartedUseWrongHand3" class="form-control" />
                <span asp-validation-for="DreCasesFtn.StartedUseWrongHand3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedWrongHand4" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedWrongHand4" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedWrongHand4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.StartedUseWrongHand4" class="control-label"></label>
                <input asp-for="DreCasesFtn.StartedUseWrongHand4" class="form-control" />
                <span asp-validation-for="DreCasesFtn.StartedUseWrongHand4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedWrongHand5" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedWrongHand5" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedWrongHand5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.StartedUseWrongHand5" class="control-label"></label>
                <input asp-for="DreCasesFtn.StartedUseWrongHand5" class="form-control" />
                <span asp-validation-for="DreCasesFtn.StartedUseWrongHand5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedWrongHand6" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedWrongHand6" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedWrongHand6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.StartedUseWrongHand6" class="control-label"></label>
                <input asp-for="DreCasesFtn.StartedUseWrongHand6" class="form-control" />
                <span asp-validation-for="DreCasesFtn.StartedUseWrongHand6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.LegTremors" class="control-label"></label>
                <input asp-for="DreCasesFtn.LegTremors" class="form-control" />
                <span asp-validation-for="DreCasesFtn.LegTremors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.MuscleToneRigid" class="control-label"></label>
                <input asp-for="DreCasesFtn.MuscleToneRigid" class="form-control" />
                <span asp-validation-for="DreCasesFtn.MuscleToneRigid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.MuscleToneFlaccid" class="control-label"></label>
                <input asp-for="DreCasesFtn.MuscleToneFlaccid" class="form-control" />
                <span asp-validation-for="DreCasesFtn.MuscleToneFlaccid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.FtnBalanceGiven" class="control-label"></label>
                <input asp-for="DreCasesFtn.FtnBalanceGiven" class="form-control" />
                <span asp-validation-for="DreCasesFtn.FtnBalanceGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UnableToPerform" class="control-label"></label>
                <input asp-for="DreCasesFtn.UnableToPerform" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UnableToPerform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UnderstoodInstructions" class="control-label"></label>
                <input asp-for="DreCasesFtn.UnderstoodInstructions" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UnderstoodInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.OpenedEyes" class="control-label"></label>
                <input asp-for="DreCasesFtn.OpenedEyes" class="form-control" />
                <span asp-validation-for="DreCasesFtn.OpenedEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.AlmostFell" class="control-label"></label>
                <input asp-for="DreCasesFtn.AlmostFell" class="form-control" />
                <span asp-validation-for="DreCasesFtn.AlmostFell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UsedArms" class="control-label"></label>
                <input asp-for="DreCasesFtn.UsedArms" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UsedArms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.UnableToStandStill" class="control-label"></label>
                <input asp-for="DreCasesFtn.UnableToStandStill" class="form-control" />
                <span asp-validation-for="DreCasesFtn.UnableToStandStill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.Other" class="control-label"></label>
                <input asp-for="DreCasesFtn.Other" class="form-control" />
                <span asp-validation-for="DreCasesFtn.Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.OtherComments" class="control-label"></label>
                <input asp-for="DreCasesFtn.OtherComments" class="form-control" />
                <span asp-validation-for="DreCasesFtn.OtherComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.HandDown1" class="control-label"></label>
                <input asp-for="DreCasesFtn.HandDown1" class="form-control" />
                <span asp-validation-for="DreCasesFtn.HandDown1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.HandDown2" class="control-label"></label>
                <input asp-for="DreCasesFtn.HandDown2" class="form-control" />
                <span asp-validation-for="DreCasesFtn.HandDown2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.HandDown3" class="control-label"></label>
                <input asp-for="DreCasesFtn.HandDown3" class="form-control" />
                <span asp-validation-for="DreCasesFtn.HandDown3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.HandDown4" class="control-label"></label>
                <input asp-for="DreCasesFtn.HandDown4" class="form-control" />
                <span asp-validation-for="DreCasesFtn.HandDown4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.HandDown5" class="control-label"></label>
                <input asp-for="DreCasesFtn.HandDown5" class="form-control" />
                <span asp-validation-for="DreCasesFtn.HandDown5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.HandDown6" class="control-label"></label>
                <input asp-for="DreCasesFtn.HandDown6" class="form-control" />
                <span asp-validation-for="DreCasesFtn.HandDown6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.Sway1" class="control-label"></label>
                <input asp-for="DreCasesFtn.Sway1" class="form-control" />
                <span asp-validation-for="DreCasesFtn.Sway1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.Sway2" class="control-label"></label>
                <input asp-for="DreCasesFtn.Sway2" class="form-control" />
                <span asp-validation-for="DreCasesFtn.Sway2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.Sway3" class="control-label"></label>
                <input asp-for="DreCasesFtn.Sway3" class="form-control" />
                <span asp-validation-for="DreCasesFtn.Sway3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.Sway4" class="control-label"></label>
                <input asp-for="DreCasesFtn.Sway4" class="form-control" />
                <span asp-validation-for="DreCasesFtn.Sway4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.Sway5" class="control-label"></label>
                <input asp-for="DreCasesFtn.Sway5" class="form-control" />
                <span asp-validation-for="DreCasesFtn.Sway5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesFtn.Sway6" class="control-label"></label>
                <input asp-for="DreCasesFtn.Sway6" class="form-control" />
                <span asp-validation-for="DreCasesFtn.Sway6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
