@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Ftns.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCaseFingerToNose</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCaseFingerToNose.DreCaseFingerToNoseId" />
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedPad1" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedPad1" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedPad1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.MovedFinger1" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.MovedFinger1" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.MovedFinger1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.OpenedEyes1" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.OpenedEyes1" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.OpenedEyes1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedPad2" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedPad2" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedPad2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.MovedFinger2" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.MovedFinger2" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.MovedFinger2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.OpenedEyes2" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.OpenedEyes2" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.OpenedEyes2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedPad3" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedPad3" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedPad3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.MovedFinger3" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.MovedFinger3" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.MovedFinger3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.OpenedEyes3" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.OpenedEyes3" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.OpenedEyes3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedPad4" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedPad4" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedPad4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.MovedFinger4" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.MovedFinger4" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.MovedFinger4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.OpenedEyes4" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.OpenedEyes4" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.OpenedEyes4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedPad5" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedPad5" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedPad5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.MovedFinger5" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.MovedFinger5" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.MovedFinger5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.OpenedEyes5" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.OpenedEyes5" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.OpenedEyes5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedPad6" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedPad6" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedPad6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.MovedFinger6" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.MovedFinger6" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.MovedFinger6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.OpenedEyes6" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.OpenedEyes6" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.OpenedEyes6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.Swaying" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.Swaying" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.Swaying" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.BodyTremors" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.BodyTremors" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.BodyTremors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.EyelidTremors" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.EyelidTremors" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.EyelidTremors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.MuscleTensions" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.MuscleTensions" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.MuscleTensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.Sounds" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.Sounds" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.Sounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.FtnNotes" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.FtnNotes" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.FtnNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedWrongHand1" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedWrongHand1" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedWrongHand1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.StartedUseWrongHand1" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.StartedUseWrongHand1" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.StartedUseWrongHand1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedWrongHand2" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedWrongHand2" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedWrongHand2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.StartedUseWrongHand2" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.StartedUseWrongHand2" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.StartedUseWrongHand2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedWrongHand3" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedWrongHand3" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedWrongHand3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.StartedUseWrongHand3" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.StartedUseWrongHand3" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.StartedUseWrongHand3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedWrongHand4" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedWrongHand4" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedWrongHand4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.StartedUseWrongHand4" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.StartedUseWrongHand4" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.StartedUseWrongHand4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedWrongHand5" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedWrongHand5" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedWrongHand5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.StartedUseWrongHand5" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.StartedUseWrongHand5" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.StartedUseWrongHand5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedWrongHand6" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedWrongHand6" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedWrongHand6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.StartedUseWrongHand6" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.StartedUseWrongHand6" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.StartedUseWrongHand6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.LegTremors" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.LegTremors" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.LegTremors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.MuscleToneRigid" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.MuscleToneRigid" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.MuscleToneRigid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.MuscleToneFlaccid" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.MuscleToneFlaccid" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.MuscleToneFlaccid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.FtnBalanceGiven" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.FtnBalanceGiven" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.FtnBalanceGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UnableToPerform" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UnableToPerform" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UnableToPerform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UnderstoodInstructions" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UnderstoodInstructions" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UnderstoodInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.OpenedEyes" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.OpenedEyes" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.OpenedEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.AlmostFell" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.AlmostFell" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.AlmostFell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UsedArms" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UsedArms" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UsedArms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.UnableToStandStill" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.UnableToStandStill" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.UnableToStandStill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.Other" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.Other" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.OtherComments" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.OtherComments" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.OtherComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.HandDown1" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.HandDown1" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.HandDown1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.HandDown2" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.HandDown2" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.HandDown2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.HandDown3" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.HandDown3" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.HandDown3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.HandDown4" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.HandDown4" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.HandDown4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.HandDown5" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.HandDown5" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.HandDown5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.HandDown6" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.HandDown6" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.HandDown6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.Sway1" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.Sway1" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.Sway1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.Sway2" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.Sway2" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.Sway2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.Sway3" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.Sway3" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.Sway3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.Sway4" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.Sway4" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.Sway4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.Sway5" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.Sway5" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.Sway5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.Sway6" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.Sway6" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.Sway6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseFingerToNose.DreCaseId" class="control-label"></label>
                <input asp-for="DreCaseFingerToNose.DreCaseId" class="form-control" />
                <span asp-validation-for="DreCaseFingerToNose.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
