@page
@model LEADRS_NEW_DBFirst.Pages.DRE.IntoxUrineScreens.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCaseIntoxUrineScreen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCaseIntoxUrineScreen.DreUrineToxResultId" />
            <div class="form-group">
                <label asp-for="DreCaseIntoxUrineScreen.DreCaseIntoxilyzerReportId" class="control-label"></label>
                <select asp-for="DreCaseIntoxUrineScreen.DreCaseIntoxilyzerReportId" class="form-control" asp-items="ViewBag.DreCaseIntoxilyzerReportId"></select>
                <span asp-validation-for="DreCaseIntoxUrineScreen.DreCaseIntoxilyzerReportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxUrineScreen.ToxScreenResultId" class="control-label"></label>
                <input asp-for="DreCaseIntoxUrineScreen.ToxScreenResultId" class="form-control" />
                <span asp-validation-for="DreCaseIntoxUrineScreen.ToxScreenResultId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseIntoxUrineScreen.Comment" class="control-label"></label>
                <input asp-for="DreCaseIntoxUrineScreen.Comment" class="form-control" />
                <span asp-validation-for="DreCaseIntoxUrineScreen.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
