@page
@model LEADRS_NEW_DBFirst.Pages.DRE.AoFsts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCaseAoFst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCaseAoFst.ArrestingOfficerFstid" />
            <div class="form-group">
                <label asp-for="DreCaseAoFst.DreCaseId" class="control-label"></label>
                <select asp-for="DreCaseAoFst.DreCaseId" class="form-control" asp-items="ViewBag.DreCaseId"></select>
                <span asp-validation-for="DreCaseAoFst.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.HgncluesLeft" class="control-label"></label>
                <input asp-for="DreCaseAoFst.HgncluesLeft" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.HgncluesLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.HgncluesRight" class="control-label"></label>
                <input asp-for="DreCaseAoFst.HgncluesRight" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.HgncluesRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.HgncluesTotal" class="control-label"></label>
                <input asp-for="DreCaseAoFst.HgncluesTotal" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.HgncluesTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.HgnlackOfPursuitLeft" class="control-label"></label>
                <input asp-for="DreCaseAoFst.HgnlackOfPursuitLeft" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.HgnlackOfPursuitLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.HgnlackOfPursuitRight" class="control-label"></label>
                <input asp-for="DreCaseAoFst.HgnlackOfPursuitRight" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.HgnlackOfPursuitRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.HgndistinctMaxDevLeft" class="control-label"></label>
                <input asp-for="DreCaseAoFst.HgndistinctMaxDevLeft" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.HgndistinctMaxDevLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.HgndistinctMaxDevRight" class="control-label"></label>
                <input asp-for="DreCaseAoFst.HgndistinctMaxDevRight" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.HgndistinctMaxDevRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.HgnonsetPrior45Left" class="control-label"></label>
                <input asp-for="DreCaseAoFst.HgnonsetPrior45Left" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.HgnonsetPrior45Left" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.HgnonsetPrior45Right" class="control-label"></label>
                <input asp-for="DreCaseAoFst.HgnonsetPrior45Right" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.HgnonsetPrior45Right" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.IsHgnverticalNyst" class="control-label"></label>
                <input asp-for="DreCaseAoFst.IsHgnverticalNyst" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.IsHgnverticalNyst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.WalkTurnStartSoon" class="control-label"></label>
                <input asp-for="DreCaseAoFst.WalkTurnStartSoon" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.WalkTurnStartSoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.WalkTurnStepOffLine" class="control-label"></label>
                <input asp-for="DreCaseAoFst.WalkTurnStepOffLine" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.WalkTurnStepOffLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.WalkTurnMissHeelToe" class="control-label"></label>
                <input asp-for="DreCaseAoFst.WalkTurnMissHeelToe" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.WalkTurnMissHeelToe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.WalkTurnRaisesArms" class="control-label"></label>
                <input asp-for="DreCaseAoFst.WalkTurnRaisesArms" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.WalkTurnRaisesArms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.WalkTurnWrongNumberSteps" class="control-label"></label>
                <input asp-for="DreCaseAoFst.WalkTurnWrongNumberSteps" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.WalkTurnWrongNumberSteps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.WalkTurnStopWalking" class="control-label"></label>
                <input asp-for="DreCaseAoFst.WalkTurnStopWalking" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.WalkTurnStopWalking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.WalkTurnImproperTurn" class="control-label"></label>
                <input asp-for="DreCaseAoFst.WalkTurnImproperTurn" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.WalkTurnImproperTurn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.WalkTurnCannotBalance" class="control-label"></label>
                <input asp-for="DreCaseAoFst.WalkTurnCannotBalance" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.WalkTurnCannotBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.WalkTurnClues" class="control-label"></label>
                <input asp-for="DreCaseAoFst.WalkTurnClues" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.WalkTurnClues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.OneLegSways" class="control-label"></label>
                <input asp-for="DreCaseAoFst.OneLegSways" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.OneLegSways" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.OneLegUsesArms" class="control-label"></label>
                <input asp-for="DreCaseAoFst.OneLegUsesArms" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.OneLegUsesArms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.OneLegHopps" class="control-label"></label>
                <input asp-for="DreCaseAoFst.OneLegHopps" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.OneLegHopps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.OneLegPutFootDown" class="control-label"></label>
                <input asp-for="DreCaseAoFst.OneLegPutFootDown" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.OneLegPutFootDown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoFst.OneLegClues" class="control-label"></label>
                <input asp-for="DreCaseAoFst.OneLegClues" class="form-control" />
                <span asp-validation-for="DreCaseAoFst.OneLegClues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
