@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Wts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCaseWt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCaseWt.DreCaseWtid" />
            <div class="form-group">
                <label asp-for="DreCaseWt.DreCaseId" class="control-label"></label>
                <select asp-for="DreCaseWt.DreCaseId" class="form-control" asp-items="ViewBag.DreCaseId"></select>
                <span asp-validation-for="DreCaseWt.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.ActualSteps1" class="control-label"></label>
                <input asp-for="DreCaseWt.ActualSteps1" class="form-control" />
                <span asp-validation-for="DreCaseWt.ActualSteps1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.ActualSteps2" class="control-label"></label>
                <input asp-for="DreCaseWt.ActualSteps2" class="form-control" />
                <span asp-validation-for="DreCaseWt.ActualSteps2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.BodyTremos" class="control-label"></label>
                <input asp-for="DreCaseWt.BodyTremos" class="form-control" />
                <span asp-validation-for="DreCaseWt.BodyTremos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.CannotBalance" class="control-label"></label>
                <input asp-for="DreCaseWt.CannotBalance" class="form-control" />
                <span asp-validation-for="DreCaseWt.CannotBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.EyelidsTremos" class="control-label"></label>
                <input asp-for="DreCaseWt.EyelidsTremos" class="form-control" />
                <span asp-validation-for="DreCaseWt.EyelidsTremos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.ImproperTurn" class="control-label"></label>
                <input asp-for="DreCaseWt.ImproperTurn" class="form-control" />
                <span asp-validation-for="DreCaseWt.ImproperTurn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.LegTremos" class="control-label"></label>
                <input asp-for="DreCaseWt.LegTremos" class="form-control" />
                <span asp-validation-for="DreCaseWt.LegTremos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.MissHellToe" class="control-label"></label>
                <input asp-for="DreCaseWt.MissHellToe" class="form-control" />
                <span asp-validation-for="DreCaseWt.MissHellToe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.MuscleTensions" class="control-label"></label>
                <input asp-for="DreCaseWt.MuscleTensions" class="form-control" />
                <span asp-validation-for="DreCaseWt.MuscleTensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.RaisesArms" class="control-label"></label>
                <input asp-for="DreCaseWt.RaisesArms" class="form-control" />
                <span asp-validation-for="DreCaseWt.RaisesArms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.SoLl" class="control-label"></label>
                <input asp-for="DreCaseWt.SoLl" class="form-control" />
                <span asp-validation-for="DreCaseWt.SoLl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.SoLr" class="control-label"></label>
                <input asp-for="DreCaseWt.SoLr" class="form-control" />
                <span asp-validation-for="DreCaseWt.SoLr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.SoRl" class="control-label"></label>
                <input asp-for="DreCaseWt.SoRl" class="form-control" />
                <span asp-validation-for="DreCaseWt.SoRl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.SoRr" class="control-label"></label>
                <input asp-for="DreCaseWt.SoRr" class="form-control" />
                <span asp-validation-for="DreCaseWt.SoRr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.Sounds" class="control-label"></label>
                <input asp-for="DreCaseWt.Sounds" class="form-control" />
                <span asp-validation-for="DreCaseWt.Sounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.StartsSoon" class="control-label"></label>
                <input asp-for="DreCaseWt.StartsSoon" class="form-control" />
                <span asp-validation-for="DreCaseWt.StartsSoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.StepOffLine" class="control-label"></label>
                <input asp-for="DreCaseWt.StepOffLine" class="form-control" />
                <span asp-validation-for="DreCaseWt.StepOffLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.StopsWalking" class="control-label"></label>
                <input asp-for="DreCaseWt.StopsWalking" class="form-control" />
                <span asp-validation-for="DreCaseWt.StopsWalking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.Swaying" class="control-label"></label>
                <input asp-for="DreCaseWt.Swaying" class="form-control" />
                <span asp-validation-for="DreCaseWt.Swaying" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.UnableToPerform" class="control-label"></label>
                <input asp-for="DreCaseWt.UnableToPerform" class="form-control" />
                <span asp-validation-for="DreCaseWt.UnableToPerform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.UnserstoodInstructions" class="control-label"></label>
                <input asp-for="DreCaseWt.UnserstoodInstructions" class="form-control" />
                <span asp-validation-for="DreCaseWt.UnserstoodInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WalkTurnGiven" class="control-label"></label>
                <input asp-for="DreCaseWt.WalkTurnGiven" class="form-control" />
                <span asp-validation-for="DreCaseWt.WalkTurnGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WrongNumberSteps" class="control-label"></label>
                <input asp-for="DreCaseWt.WrongNumberSteps" class="form-control" />
                <span asp-validation-for="DreCaseWt.WrongNumberSteps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtmissesFirstNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtmissesFirstNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtmissesFirstNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtmissesSecondNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtmissesSecondNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtmissesSecondNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtnafirstNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtnafirstNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtnafirstNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtnasecondNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtnasecondNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtnasecondNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.Wtother" class="control-label"></label>
                <input asp-for="DreCaseWt.Wtother" class="form-control" />
                <span asp-validation-for="DreCaseWt.Wtother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtraisesFirstNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtraisesFirstNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtraisesFirstNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtraisesSecondNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtraisesSecondNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtraisesSecondNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtstepCount" class="control-label"></label>
                <input asp-for="DreCaseWt.WtstepCount" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtstepCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtstepCountSecond" class="control-label"></label>
                <input asp-for="DreCaseWt.WtstepCountSecond" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtstepCountSecond" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtstepsLeftFirstNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtstepsLeftFirstNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtstepsLeftFirstNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtstepsLeftSecondNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtstepsLeftSecondNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtstepsLeftSecondNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtstepsRightFirstNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtstepsRightFirstNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtstepsRightFirstNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtstepsRightSecondNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtstepsRightSecondNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtstepsRightSecondNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtstopsFirstNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtstopsFirstNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtstopsFirstNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WtstopsSecondNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WtstopsSecondNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WtstopsSecondNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WttakensFirstNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WttakensFirstNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WttakensFirstNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WttakenSecondNine" class="control-label"></label>
                <input asp-for="DreCaseWt.WttakenSecondNine" class="form-control" />
                <span asp-validation-for="DreCaseWt.WttakenSecondNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WalkTurnNoTest" class="control-label"></label>
                <input asp-for="DreCaseWt.WalkTurnNoTest" class="form-control" />
                <span asp-validation-for="DreCaseWt.WalkTurnNoTest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.Olscomments" class="control-label"></label>
                <input asp-for="DreCaseWt.Olscomments" class="form-control" />
                <span asp-validation-for="DreCaseWt.Olscomments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.OtherComments" class="control-label"></label>
                <input asp-for="DreCaseWt.OtherComments" class="form-control" />
                <span asp-validation-for="DreCaseWt.OtherComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.WalkTurnDescribeTurn" class="control-label"></label>
                <input asp-for="DreCaseWt.WalkTurnDescribeTurn" class="form-control" />
                <span asp-validation-for="DreCaseWt.WalkTurnDescribeTurn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseWt.Olsstarts" class="control-label"></label>
                <input asp-for="DreCaseWt.Olsstarts" class="form-control" />
                <span asp-validation-for="DreCaseWt.Olsstarts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
