@page
@model LEADRS_NEW_DBFirst.Pages.DRE._OPT.DreSecondIndicators.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblOptDreSecondIndicator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblOptDreSecondIndicator.DreCaseSecondIndicatorId" />
            <div class="form-group">
                <label asp-for="TblOptDreSecondIndicator.IndType" class="control-label"></label>
                <input asp-for="TblOptDreSecondIndicator.IndType" class="form-control" />
                <span asp-validation-for="TblOptDreSecondIndicator.IndType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreSecondIndicator.IndTypeFullName" class="control-label"></label>
                <input asp-for="TblOptDreSecondIndicator.IndTypeFullName" class="form-control" />
                <span asp-validation-for="TblOptDreSecondIndicator.IndTypeFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreSecondIndicator.CnsDep" class="control-label"></label>
                <input asp-for="TblOptDreSecondIndicator.CnsDep" class="form-control" />
                <span asp-validation-for="TblOptDreSecondIndicator.CnsDep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreSecondIndicator.CnsSti" class="control-label"></label>
                <input asp-for="TblOptDreSecondIndicator.CnsSti" class="form-control" />
                <span asp-validation-for="TblOptDreSecondIndicator.CnsSti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreSecondIndicator.Hall" class="control-label"></label>
                <input asp-for="TblOptDreSecondIndicator.Hall" class="form-control" />
                <span asp-validation-for="TblOptDreSecondIndicator.Hall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreSecondIndicator.DissAne" class="control-label"></label>
                <input asp-for="TblOptDreSecondIndicator.DissAne" class="form-control" />
                <span asp-validation-for="TblOptDreSecondIndicator.DissAne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreSecondIndicator.NarAna" class="control-label"></label>
                <input asp-for="TblOptDreSecondIndicator.NarAna" class="form-control" />
                <span asp-validation-for="TblOptDreSecondIndicator.NarAna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreSecondIndicator.Inha" class="control-label"></label>
                <input asp-for="TblOptDreSecondIndicator.Inha" class="form-control" />
                <span asp-validation-for="TblOptDreSecondIndicator.Inha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreSecondIndicator.Cann" class="control-label"></label>
                <input asp-for="TblOptDreSecondIndicator.Cann" class="form-control" />
                <span asp-validation-for="TblOptDreSecondIndicator.Cann" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
