@page
@model LEADRS_NEW_DBFirst.Pages.DRE.OtherOfficers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCasesOtherOfficer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCasesOtherOfficer.OtherOfficerId" />
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.DreCaseId" class="control-label"></label>
                <select asp-for="DreCasesOtherOfficer.DreCaseId" class="form-control" asp-items="ViewBag.DreCaseId"></select>
                <span asp-validation-for="DreCasesOtherOfficer.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.OfficerId" class="control-label"></label>
                <input asp-for="DreCasesOtherOfficer.OfficerId" class="form-control" />
                <span asp-validation-for="DreCasesOtherOfficer.OfficerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.OfficerUserId" class="control-label"></label>
                <input asp-for="DreCasesOtherOfficer.OfficerUserId" class="form-control" />
                <span asp-validation-for="DreCasesOtherOfficer.OfficerUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.OfficerName" class="control-label"></label>
                <input asp-for="DreCasesOtherOfficer.OfficerName" class="form-control" />
                <span asp-validation-for="DreCasesOtherOfficer.OfficerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.DreNumber" class="control-label"></label>
                <input asp-for="DreCasesOtherOfficer.DreNumber" class="form-control" />
                <span asp-validation-for="DreCasesOtherOfficer.DreNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.OfficerAgency" class="control-label"></label>
                <input asp-for="DreCasesOtherOfficer.OfficerAgency" class="form-control" />
                <span asp-validation-for="DreCasesOtherOfficer.OfficerAgency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.OfficerDeptId" class="control-label"></label>
                <input asp-for="DreCasesOtherOfficer.OfficerDeptId" class="form-control" />
                <span asp-validation-for="DreCasesOtherOfficer.OfficerDeptId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.DreRoleId" class="control-label"></label>
                <select asp-for="DreCasesOtherOfficer.DreRoleId" class="form-control" asp-items="ViewBag.DreRoleId"></select>
                <span asp-validation-for="DreCasesOtherOfficer.DreRoleId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DreCasesOtherOfficer.Pbt" /> @Html.DisplayNameFor(model => model.DreCasesOtherOfficer.Pbt)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.RollingLogNumber" class="control-label"></label>
                <input asp-for="DreCasesOtherOfficer.RollingLogNumber" class="form-control" />
                <span asp-validation-for="DreCasesOtherOfficer.RollingLogNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DreCasesOtherOfficer.Accepted" /> @Html.DisplayNameFor(model => model.DreCasesOtherOfficer.Accepted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.Badge" class="control-label"></label>
                <input asp-for="DreCasesOtherOfficer.Badge" class="form-control" />
                <span asp-validation-for="DreCasesOtherOfficer.Badge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesOtherOfficer.IsOwner" class="control-label"></label>
                <input asp-for="DreCasesOtherOfficer.IsOwner" class="form-control" />
                <span asp-validation-for="DreCasesOtherOfficer.IsOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
