@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Ols.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCaseOls</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCaseOls.DreCaseOlsid" />
            <div class="form-group">
                <label asp-for="DreCaseOls.DreCaseId" class="control-label"></label>
                <select asp-for="DreCaseOls.DreCaseId" class="form-control" asp-items="ViewBag.DreCaseId"></select>
                <span asp-validation-for="DreCaseOls.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlstimeL" class="control-label"></label>
                <input asp-for="DreCaseOls.OlstimeL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlstimeL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlstimeR" class="control-label"></label>
                <input asp-for="DreCaseOls.OlstimeR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlstimeR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsswaysL" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsswaysL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsswaysL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsswaysR" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsswaysR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsswaysR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsarmsL" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsarmsL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsarmsL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsarmsR" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsarmsR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsarmsR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlshoppingL" class="control-label"></label>
                <input asp-for="DreCaseOls.OlshoppingL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlshoppingL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlshoppingR" class="control-label"></label>
                <input asp-for="DreCaseOls.OlshoppingR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlshoppingR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsfootL" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsfootL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsfootL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsfootR" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsfootR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsfootR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsleftDown" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsleftDown" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsleftDown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsleftDownCount" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsleftDownCount" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsleftDownCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsrightDown" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsrightDown" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsrightDown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsrightDownCount" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsrightDownCount" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsrightDownCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.FootWearTypeId" class="control-label"></label>
                <input asp-for="DreCaseOls.FootWearTypeId" class="form-control" />
                <span asp-validation-for="DreCaseOls.FootWearTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OneLegStandGiven" class="control-label"></label>
                <input asp-for="DreCaseOls.OneLegStandGiven" class="form-control" />
                <span asp-validation-for="DreCaseOls.OneLegStandGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.UnableToPerform" class="control-label"></label>
                <input asp-for="DreCaseOls.UnableToPerform" class="form-control" />
                <span asp-validation-for="DreCaseOls.UnableToPerform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.UnderstoodInstruction" class="control-label"></label>
                <input asp-for="DreCaseOls.UnderstoodInstruction" class="form-control" />
                <span asp-validation-for="DreCaseOls.UnderstoodInstruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.MuscleTensions" class="control-label"></label>
                <input asp-for="DreCaseOls.MuscleTensions" class="form-control" />
                <span asp-validation-for="DreCaseOls.MuscleTensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.Sounds" class="control-label"></label>
                <input asp-for="DreCaseOls.Sounds" class="form-control" />
                <span asp-validation-for="DreCaseOls.Sounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.Olsnoates" class="control-label"></label>
                <input asp-for="DreCaseOls.Olsnoates" class="form-control" />
                <span asp-validation-for="DreCaseOls.Olsnoates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsarmTimeL" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsarmTimeL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsarmTimeL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsarmTimeR" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsarmTimeR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsarmTimeR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsswayTimeL" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsswayTimeL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsswayTimeL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsswayTimeR" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsswayTimeR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsswayTimeR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlshopTimeL" class="control-label"></label>
                <input asp-for="DreCaseOls.OlshopTimeL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlshopTimeL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlshopTimeR" class="control-label"></label>
                <input asp-for="DreCaseOls.OlshopTimeR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlshopTimeR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlstimeLeftDown" class="control-label"></label>
                <input asp-for="DreCaseOls.OlstimeLeftDown" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlstimeLeftDown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlstimeRightDown" class="control-label"></label>
                <input asp-for="DreCaseOls.OlstimeRightDown" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlstimeRightDown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.NolookDownL" class="control-label"></label>
                <input asp-for="DreCaseOls.NolookDownL" class="form-control" />
                <span asp-validation-for="DreCaseOls.NolookDownL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.NolookDownR" class="control-label"></label>
                <input asp-for="DreCaseOls.NolookDownR" class="form-control" />
                <span asp-validation-for="DreCaseOls.NolookDownR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.NoCountL" class="control-label"></label>
                <input asp-for="DreCaseOls.NoCountL" class="form-control" />
                <span asp-validation-for="DreCaseOls.NoCountL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.NoCountR" class="control-label"></label>
                <input asp-for="DreCaseOls.NoCountR" class="form-control" />
                <span asp-validation-for="DreCaseOls.NoCountR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.NotSixInchesL" class="control-label"></label>
                <input asp-for="DreCaseOls.NotSixInchesL" class="form-control" />
                <span asp-validation-for="DreCaseOls.NotSixInchesL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.NotSixInchesR" class="control-label"></label>
                <input asp-for="DreCaseOls.NotSixInchesR" class="form-control" />
                <span asp-validation-for="DreCaseOls.NotSixInchesR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.BodyTremosL" class="control-label"></label>
                <input asp-for="DreCaseOls.BodyTremosL" class="form-control" />
                <span asp-validation-for="DreCaseOls.BodyTremosL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.EyeLidTremosL" class="control-label"></label>
                <input asp-for="DreCaseOls.EyeLidTremosL" class="form-control" />
                <span asp-validation-for="DreCaseOls.EyeLidTremosL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.LegTremosL" class="control-label"></label>
                <input asp-for="DreCaseOls.LegTremosL" class="form-control" />
                <span asp-validation-for="DreCaseOls.LegTremosL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OtherL" class="control-label"></label>
                <input asp-for="DreCaseOls.OtherL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OtherL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsotherL" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsotherL" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsotherL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.BodyTremosR" class="control-label"></label>
                <input asp-for="DreCaseOls.BodyTremosR" class="form-control" />
                <span asp-validation-for="DreCaseOls.BodyTremosR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.EyeLidTremosR" class="control-label"></label>
                <input asp-for="DreCaseOls.EyeLidTremosR" class="form-control" />
                <span asp-validation-for="DreCaseOls.EyeLidTremosR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.LegTremosR" class="control-label"></label>
                <input asp-for="DreCaseOls.LegTremosR" class="form-control" />
                <span asp-validation-for="DreCaseOls.LegTremosR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OtherR" class="control-label"></label>
                <input asp-for="DreCaseOls.OtherR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OtherR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.OlsotherR" class="control-label"></label>
                <input asp-for="DreCaseOls.OlsotherR" class="form-control" />
                <span asp-validation-for="DreCaseOls.OlsotherR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOls.Olscomments" class="control-label"></label>
                <input asp-for="DreCaseOls.Olscomments" class="form-control" />
                <span asp-validation-for="DreCaseOls.Olscomments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
