@page
@model LEADRS_NEW_DBFirst.Pages.DRE.OtherObservations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCaseOtherObservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCaseOtherObservation.OtherObservationId" />
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.MtNormal" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.MtNormal" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.MtNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.MtFlaccid" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.MtFlaccid" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.MtFlaccid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.MtRigid" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.MtRigid" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.MtRigid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.MtComments" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.MtComments" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.MtComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.InjectionSitesId" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.InjectionSitesId" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.InjectionSitesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.InjRaText" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.InjRaText" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.InjRaText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.InjLaText" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.InjLaText" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.InjLaText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.InjComments" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.InjComments" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.InjComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.PulseRate3" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.PulseRate3" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.PulseRate3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.PulseTime3" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.PulseTime3" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.PulseTime3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.PulseSite3" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.PulseSite3" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.PulseSite3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.SubDrugs" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.SubDrugs" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.SubDrugs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.SubDrugsQty" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.SubDrugsQty" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.SubDrugsQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.SubDrugsTime" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.SubDrugsTime" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.SubDrugsTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.SubDrugsWhere" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.SubDrugsWhere" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.SubDrugsWhere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.SubOtherComments" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.SubOtherComments" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.SubOtherComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.EvalCompletionTime" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.EvalCompletionTime" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.EvalCompletionTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DreCaseOtherObservation.SubRefusedEval" /> @Html.DisplayNameFor(model => model.DreCaseOtherObservation.SubRefusedEval)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DreCaseOtherObservation.SubStopPartEval" /> @Html.DisplayNameFor(model => model.DreCaseOtherObservation.SubStopPartEval)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseOtherObservation.DreCaseId" class="control-label"></label>
                <input asp-for="DreCaseOtherObservation.DreCaseId" class="form-control" />
                <span asp-validation-for="DreCaseOtherObservation.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
