@page
@model LEADRS_NEW_DBFirst.Pages.DRE.DarkRooms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DreCasesDarkRoom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.DreCaseId" class="control-label"></label>
                <select asp-for="DreCasesDarkRoom.DreCaseId" class ="form-control" asp-items="ViewBag.DreCaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.LightL" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.LightL" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.LightL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.LightR" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.LightR" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.LightR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.DarkL" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.DarkL" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.DarkL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.DarkR" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.DarkR" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.DarkR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.DirectL" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.DirectL" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.DirectL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.DirectR" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.DirectR" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.DirectR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.ReboundY" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.ReboundY" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.ReboundY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.ReboundN" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.ReboundN" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.ReboundN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.HippusObserveD" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.HippusObserveD" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.HippusObserveD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.LightReaction" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.LightReaction" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.LightReaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.NasalAreaClear" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.NasalAreaClear" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.NasalAreaClear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.NasalAreaRed" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.NasalAreaRed" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.NasalAreaRed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.NasalAreableeding" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.NasalAreableeding" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.NasalAreableeding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.NasalAreadeviated" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.NasalAreadeviated" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.NasalAreadeviated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.NasalAreawhite" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.NasalAreawhite" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.NasalAreawhite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.NasalAreaother" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.NasalAreaother" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.NasalAreaother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.NasalAreaothertxt" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.NasalAreaothertxt" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.NasalAreaothertxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.OralCavityclear" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.OralCavityclear" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.OralCavityclear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.OralCavityRaised" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.OralCavityRaised" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.OralCavityRaised" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.OralCavityMarijuana" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.OralCavityMarijuana" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.OralCavityMarijuana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.OralCavityDry" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.OralCavityDry" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.OralCavityDry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.OralCavityRotten" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.OralCavityRotten" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.OralCavityRotten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.OralCavityGreen" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.OralCavityGreen" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.OralCavityGreen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.OralCavityMissing" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.OralCavityMissing" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.OralCavityMissing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.OralCavityOther" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.OralCavityOther" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.OralCavityOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.OralCavityOtherText" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.OralCavityOtherText" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.OralCavityOtherText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.ReactionToLightId" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.ReactionToLightId" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.ReactionToLightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.ReboundStartL" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.ReboundStartL" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.ReboundStartL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.ReboundEndL" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.ReboundEndL" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.ReboundEndL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.ReboundStartR" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.ReboundStartR" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.ReboundStartR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.ReboundEndR" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.ReboundEndR" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.ReboundEndR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesDarkRoom.UvLight" class="control-label"></label>
                <input asp-for="DreCasesDarkRoom.UvLight" class="form-control" />
                <span asp-validation-for="DreCasesDarkRoom.UvLight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
