@page
@model LEADRS_NEW_DBFirst.Pages.DRE.DarkRooms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCaseDarkRoom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCaseDarkRoom.DreCaseDarkRoomId" />
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.LightL" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.LightL" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.LightL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.LightR" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.LightR" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.LightR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.DarkL" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.DarkL" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.DarkL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.DarkR" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.DarkR" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.DarkR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.DirectL" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.DirectL" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.DirectL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.DirectR" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.DirectR" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.DirectR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.ReboundY" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.ReboundY" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.ReboundY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.ReboundN" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.ReboundN" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.ReboundN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.HippusObserveD" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.HippusObserveD" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.HippusObserveD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.LightReaction" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.LightReaction" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.LightReaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.NasalAreaClear" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.NasalAreaClear" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.NasalAreaClear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.NasalAreaRed" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.NasalAreaRed" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.NasalAreaRed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.NasalAreableeding" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.NasalAreableeding" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.NasalAreableeding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.NasalAreadeviated" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.NasalAreadeviated" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.NasalAreadeviated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.NasalAreawhite" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.NasalAreawhite" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.NasalAreawhite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.NasalAreaother" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.NasalAreaother" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.NasalAreaother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.NasalAreaothertxt" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.NasalAreaothertxt" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.NasalAreaothertxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.OralCavityclear" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.OralCavityclear" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.OralCavityclear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.OralCavityRaised" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.OralCavityRaised" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.OralCavityRaised" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.OralCavityMarijuana" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.OralCavityMarijuana" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.OralCavityMarijuana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.OralCavityDry" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.OralCavityDry" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.OralCavityDry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.OralCavityRotten" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.OralCavityRotten" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.OralCavityRotten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.OralCavityGreen" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.OralCavityGreen" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.OralCavityGreen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.OralCavityMissing" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.OralCavityMissing" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.OralCavityMissing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.OralCavityOther" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.OralCavityOther" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.OralCavityOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.OralCavityOtherText" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.OralCavityOtherText" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.OralCavityOtherText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.ReactionToLightId" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.ReactionToLightId" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.ReactionToLightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.ReboundStartL" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.ReboundStartL" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.ReboundStartL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.ReboundEndL" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.ReboundEndL" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.ReboundEndL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.ReboundStartR" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.ReboundStartR" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.ReboundStartR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.ReboundEndR" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.ReboundEndR" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.ReboundEndR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.UvLight" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.UvLight" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.UvLight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseDarkRoom.DreCaseId" class="control-label"></label>
                <input asp-for="DreCaseDarkRoom.DreCaseId" class="form-control" />
                <span asp-validation-for="DreCaseDarkRoom.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
