@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Obs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DreCasesObs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DreCasesObs.DreCaseObservationsId" />
            <div class="form-group">
                <label asp-for="DreCasesObs.DreCaseId" class="control-label"></label>
                <select asp-for="DreCasesObs.DreCaseId" class="form-control" asp-items="ViewBag.DreCaseId"></select>
                <span asp-validation-for="DreCasesObs.DreCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeCooperative" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeCooperative" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeCooperative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeCombative" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeCombative" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeCombative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeIndifferent" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeIndifferent" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeIndifferent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeCocky" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeCocky" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeCocky" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeApologetic" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeApologetic" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeApologetic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeRestless" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeRestless" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeRestless" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeDisoriented" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeDisoriented" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeDisoriented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeAnxious" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeAnxious" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeAnxious" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeRelaxed" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeRelaxed" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeRelaxed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeCareFree" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeCareFree" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeCareFree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeConfused" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeConfused" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeConfused" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeDazed" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeDazed" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeDazed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeParanoid" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeParanoid" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeParanoid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeTalkative" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeTalkative" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeTalkative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeUninhibited" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeUninhibited" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeUninhibited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeExcited" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeExcited" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeExcited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudePassive" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudePassive" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudePassive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeNonCommunicative" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeNonCommunicative" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeNonCommunicative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.AttitudeOther" class="control-label"></label>
                <input asp-for="DreCasesObs.AttitudeOther" class="form-control" />
                <span asp-validation-for="DreCasesObs.AttitudeOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceSwaying" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceSwaying" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceSwaying" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceUnsteady" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceUnsteady" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceUnsteady" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceNeededSupport" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceNeededSupport" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceNeededSupport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceFallingDown" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceFallingDown" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceFallingDown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceNormal" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceNormal" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalancePoor" class="control-label"></label>
                <input asp-for="DreCasesObs.BalancePoor" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalancePoor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceSlow" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceSlow" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceSlow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceUncoordinated" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceUncoordinated" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceUncoordinated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceSluggish" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceSluggish" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceSluggish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceDepressedReflexes" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceDepressedReflexes" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceDepressedReflexes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BalanceMoonWalking" class="control-label"></label>
                <input asp-for="DreCasesObs.BalanceMoonWalking" class="form-control" />
                <span asp-validation-for="DreCasesObs.BalanceMoonWalking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechSlurred" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechSlurred" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechSlurred" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechIncoherent" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechIncoherent" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechIncoherent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechThickTongued" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechThickTongued" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechThickTongued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechSlowMumbled" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechSlowMumbled" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechSlowMumbled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechNormal" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechNormal" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechSlow" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechSlow" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechSlow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechLow" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechLow" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechLow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechRaspy" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechRaspy" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechRaspy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechRapidFast" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechRapidFast" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechRapidFast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechIncompleteVerbalResposes" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechIncompleteVerbalResposes" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechIncompleteVerbalResposes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.SpeechOther" class="control-label"></label>
                <input asp-for="DreCasesObs.SpeechOther" class="form-control" />
                <span asp-validation-for="DreCasesObs.SpeechOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.WalkingStaggering" class="control-label"></label>
                <input asp-for="DreCasesObs.WalkingStaggering" class="form-control" />
                <span asp-validation-for="DreCasesObs.WalkingStaggering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.WalkingFalling" class="control-label"></label>
                <input asp-for="DreCasesObs.WalkingFalling" class="form-control" />
                <span asp-validation-for="DreCasesObs.WalkingFalling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.WalkingHeavyFooted" class="control-label"></label>
                <input asp-for="DreCasesObs.WalkingHeavyFooted" class="form-control" />
                <span asp-validation-for="DreCasesObs.WalkingHeavyFooted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.WalkingSwaying" class="control-label"></label>
                <input asp-for="DreCasesObs.WalkingSwaying" class="form-control" />
                <span asp-validation-for="DreCasesObs.WalkingSwaying" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.WalkingNormal" class="control-label"></label>
                <input asp-for="DreCasesObs.WalkingNormal" class="form-control" />
                <span asp-validation-for="DreCasesObs.WalkingNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BreathNormal" class="control-label"></label>
                <input asp-for="DreCasesObs.BreathNormal" class="form-control" />
                <span asp-validation-for="DreCasesObs.BreathNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BreathAlcohol" class="control-label"></label>
                <input asp-for="DreCasesObs.BreathAlcohol" class="form-control" />
                <span asp-validation-for="DreCasesObs.BreathAlcohol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BreathMarijuana" class="control-label"></label>
                <input asp-for="DreCasesObs.BreathMarijuana" class="form-control" />
                <span asp-validation-for="DreCasesObs.BreathMarijuana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BreathChemical" class="control-label"></label>
                <input asp-for="DreCasesObs.BreathChemical" class="form-control" />
                <span asp-validation-for="DreCasesObs.BreathChemical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BreathBad" class="control-label"></label>
                <input asp-for="DreCasesObs.BreathBad" class="form-control" />
                <span asp-validation-for="DreCasesObs.BreathBad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BreathOther" class="control-label"></label>
                <input asp-for="DreCasesObs.BreathOther" class="form-control" />
                <span asp-validation-for="DreCasesObs.BreathOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceFlushed" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceFlushed" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceFlushed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FacePale" class="control-label"></label>
                <input asp-for="DreCasesObs.FacePale" class="form-control" />
                <span asp-validation-for="DreCasesObs.FacePale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceNormal" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceNormal" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceScars" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceScars" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceScars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceOpenSores" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceOpenSores" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceOpenSores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceInjuries" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceInjuries" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceInjuries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceFacialItching" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceFacialItching" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceFacialItching" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceBlankStare" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceBlankStare" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceBlankStare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceDazedAppearance" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceDazedAppearance" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceDazedAppearance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceSryMouth" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceSryMouth" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceSryMouth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceBruxism" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceBruxism" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceBruxism" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceOnTheNod" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceOnTheNod" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceOnTheNod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceResidueOfSubstance" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceResidueOfSubstance" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceResidueOfSubstance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceOther" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceOther" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.LensesNone" class="control-label"></label>
                <input asp-for="DreCasesObs.LensesNone" class="form-control" />
                <span asp-validation-for="DreCasesObs.LensesNone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.Glasses" class="control-label"></label>
                <input asp-for="DreCasesObs.Glasses" class="form-control" />
                <span asp-validation-for="DreCasesObs.Glasses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.Contacts" class="control-label"></label>
                <input asp-for="DreCasesObs.Contacts" class="form-control" />
                <span asp-validation-for="DreCasesObs.Contacts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.ContactsSoft" class="control-label"></label>
                <input asp-for="DreCasesObs.ContactsSoft" class="form-control" />
                <span asp-validation-for="DreCasesObs.ContactsSoft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.ContactsHard" class="control-label"></label>
                <input asp-for="DreCasesObs.ContactsHard" class="form-control" />
                <span asp-validation-for="DreCasesObs.ContactsHard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.EyesRed" class="control-label"></label>
                <input asp-for="DreCasesObs.EyesRed" class="form-control" />
                <span asp-validation-for="DreCasesObs.EyesRed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.EyesWatery" class="control-label"></label>
                <input asp-for="DreCasesObs.EyesWatery" class="form-control" />
                <span asp-validation-for="DreCasesObs.EyesWatery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.EyesBloodShot" class="control-label"></label>
                <input asp-for="DreCasesObs.EyesBloodShot" class="form-control" />
                <span asp-validation-for="DreCasesObs.EyesBloodShot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.EyesNormal" class="control-label"></label>
                <input asp-for="DreCasesObs.EyesNormal" class="form-control" />
                <span asp-validation-for="DreCasesObs.EyesNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BlindnessNone" class="control-label"></label>
                <input asp-for="DreCasesObs.BlindnessNone" class="form-control" />
                <span asp-validation-for="DreCasesObs.BlindnessNone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BlindnessLeft" class="control-label"></label>
                <input asp-for="DreCasesObs.BlindnessLeft" class="form-control" />
                <span asp-validation-for="DreCasesObs.BlindnessLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BlindnessRight" class="control-label"></label>
                <input asp-for="DreCasesObs.BlindnessRight" class="form-control" />
                <span asp-validation-for="DreCasesObs.BlindnessRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.BlindnessComment" class="control-label"></label>
                <input asp-for="DreCasesObs.BlindnessComment" class="form-control" />
                <span asp-validation-for="DreCasesObs.BlindnessComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.TrackingEqual" class="control-label"></label>
                <input asp-for="DreCasesObs.TrackingEqual" class="form-control" />
                <span asp-validation-for="DreCasesObs.TrackingEqual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.TrackingUnequal" class="control-label"></label>
                <input asp-for="DreCasesObs.TrackingUnequal" class="form-control" />
                <span asp-validation-for="DreCasesObs.TrackingUnequal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.TrackingUnequalDesc" class="control-label"></label>
                <input asp-for="DreCasesObs.TrackingUnequalDesc" class="form-control" />
                <span asp-validation-for="DreCasesObs.TrackingUnequalDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.CoordinationOther" class="control-label"></label>
                <input asp-for="DreCasesObs.CoordinationOther" class="form-control" />
                <span asp-validation-for="DreCasesObs.CoordinationOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.EyelidsDroopy" class="control-label"></label>
                <input asp-for="DreCasesObs.EyelidsDroopy" class="form-control" />
                <span asp-validation-for="DreCasesObs.EyelidsDroopy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.EyelidsNormal" class="control-label"></label>
                <input asp-for="DreCasesObs.EyelidsNormal" class="form-control" />
                <span asp-validation-for="DreCasesObs.EyelidsNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceDryMouth" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceDryMouth" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceDryMouth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCasesObs.FaceSweatyPerspiring" class="control-label"></label>
                <input asp-for="DreCasesObs.FaceSweatyPerspiring" class="form-control" />
                <span asp-validation-for="DreCasesObs.FaceSweatyPerspiring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
