@page
@model LEADRS_NEW_DBFirst.Pages.DRE._OPT.DreMajorIndicators.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblOptDreMajorIndicator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblOptDreMajorIndicator.DreMajorIndicatorId" />
            <div class="form-group">
                <label asp-for="TblOptDreMajorIndicator.IndTypeId" class="control-label"></label>
                <input asp-for="TblOptDreMajorIndicator.IndTypeId" class="form-control" />
                <span asp-validation-for="TblOptDreMajorIndicator.IndTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreMajorIndicator.ColumnName" class="control-label"></label>
                <input asp-for="TblOptDreMajorIndicator.ColumnName" class="form-control" />
                <span asp-validation-for="TblOptDreMajorIndicator.ColumnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreMajorIndicator.ValueToDisplay" class="control-label"></label>
                <input asp-for="TblOptDreMajorIndicator.ValueToDisplay" class="form-control" />
                <span asp-validation-for="TblOptDreMajorIndicator.ValueToDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOptDreMajorIndicator.Note" class="control-label"></label>
                <input asp-for="TblOptDreMajorIndicator.Note" class="form-control" />
                <span asp-validation-for="TblOptDreMajorIndicator.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
