@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Notes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DreCaseNote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DreCaseNote.DreCaseId" class="control-label"></label>
                <select asp-for="DreCaseNote.DreCaseId" class ="form-control" asp-items="ViewBag.DreCaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseNote.DreCaseNoteTypeId" class="control-label"></label>
                <select asp-for="DreCaseNote.DreCaseNoteTypeId" class ="form-control" asp-items="ViewBag.DreCaseNoteTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseNote.Notes" class="control-label"></label>
                <input asp-for="DreCaseNote.Notes" class="form-control" />
                <span asp-validation-for="DreCaseNote.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseNote.CreatedById" class="control-label"></label>
                <input asp-for="DreCaseNote.CreatedById" class="form-control" />
                <span asp-validation-for="DreCaseNote.CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseNote.CreatedDate" class="control-label"></label>
                <input asp-for="DreCaseNote.CreatedDate" class="form-control" />
                <span asp-validation-for="DreCaseNote.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseNote.ParentId" class="control-label"></label>
                <input asp-for="DreCaseNote.ParentId" class="form-control" />
                <span asp-validation-for="DreCaseNote.ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseNote.UpdatedById" class="control-label"></label>
                <input asp-for="DreCaseNote.UpdatedById" class="form-control" />
                <span asp-validation-for="DreCaseNote.UpdatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseNote.UpdatedDate" class="control-label"></label>
                <input asp-for="DreCaseNote.UpdatedDate" class="form-control" />
                <span asp-validation-for="DreCaseNote.UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
