@page
@model LEADRS_NEW_DBFirst.Pages.DRE.AoInterviews.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DreCaseAoInterview</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.DreCaseId" class="control-label"></label>
                <select asp-for="DreCaseAoInterview.DreCaseId" class ="form-control" asp-items="ViewBag.DreCaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.DateTimeOfArrest" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.DateTimeOfArrest" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.DateTimeOfArrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.OfficerInterview" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.OfficerInterview" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.OfficerInterview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectOpertingVehicle" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectOpertingVehicle" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectOpertingVehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectOpertingVehicleDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectOpertingVehicleDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectOpertingVehicleDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectDrivingVehicleDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectDrivingVehicleDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectDrivingVehicleDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectVehicleCrashed" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectVehicleCrashed" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectVehicleCrashed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectVehicleCrashedDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectVehicleCrashedDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectVehicleCrashedDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectSeenSmokeDrink" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectSeenSmokeDrink" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectSeenSmokeDrink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectSeenSmokeDrinkDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectSeenSmokeDrinkDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectSeenSmokeDrinkDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectInhalingSubstance" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectInhalingSubstance" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectInhalingSubstance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectInhalingSubstanceDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectInhalingSubstanceDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectInhalingSubstanceDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectRespondingStopDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectRespondingStopDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectRespondingStopDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectTryConcealOrThrowMaterial" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectTryConcealOrThrowMaterial" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectTryConcealOrThrowMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectTryConcealOrThrowMaterialDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectTryConcealOrThrowMaterialDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectTryConcealOrThrowMaterialDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectAttitudeDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectAttitudeDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectAttitudeDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectAttitudCompareDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectAttitudCompareDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectAttitudCompareDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectComplainedInjury" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectComplainedInjury" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectComplainedInjury" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectComplainedInjuryDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectComplainedInjuryDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectComplainedInjuryDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectUsedSteetNameDrug" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectUsedSteetNameDrug" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectUsedSteetNameDrug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectUsedSteetNameDrugDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectUsedSteetNameDrugDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectUsedSteetNameDrugDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectRespondToOfficer" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectRespondToOfficer" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectRespondToOfficer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectSpeechAppearSlurred" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectSpeechAppearSlurred" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectSpeechAppearSlurred" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectSpeechAppearSlurredDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectSpeechAppearSlurredDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectSpeechAppearSlurredDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectMentionPrescription" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectMentionPrescription" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectMentionPrescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectMentionPrescriptionDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectMentionPrescriptionDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectMentionPrescriptionDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundMaterial" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundMaterial" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundMaterialDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundMaterialDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundMaterialDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundInjectionMaterial" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundInjectionMaterial" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundInjectionMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundInjectionMaterialDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundInjectionMaterialDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundInjectionMaterialDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundBallonPlastic" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundBallonPlastic" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundBallonPlastic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundBallonPlasticDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundBallonPlasticDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundBallonPlasticDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundDrugResidue" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundDrugResidue" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundDrugResidue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundDrugResidueDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundDrugResidueDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundDrugResidueDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundPrescriptionBottles" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundPrescriptionBottles" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundPrescriptionBottles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseAoInterview.SubjectFoundPrescriptionBottlesDesc" class="control-label"></label>
                <input asp-for="DreCaseAoInterview.SubjectFoundPrescriptionBottlesDesc" class="form-control" />
                <span asp-validation-for="DreCaseAoInterview.SubjectFoundPrescriptionBottlesDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
