@page
@model LEADRS_NEW_DBFirst.Pages.DRE.Hgns.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DreCaseHgn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.DreCaseId" class="control-label"></label>
                <select asp-for="DreCaseHgn.DreCaseId" class ="form-control" asp-items="ViewBag.DreCaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.CluesLeft" class="control-label"></label>
                <input asp-for="DreCaseHgn.CluesLeft" class="form-control" />
                <span asp-validation-for="DreCaseHgn.CluesLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.CluesRight" class="control-label"></label>
                <input asp-for="DreCaseHgn.CluesRight" class="form-control" />
                <span asp-validation-for="DreCaseHgn.CluesRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.CluesTotal" class="control-label"></label>
                <input asp-for="DreCaseHgn.CluesTotal" class="form-control" />
                <span asp-validation-for="DreCaseHgn.CluesTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.HeadInjuries" class="control-label"></label>
                <input asp-for="DreCaseHgn.HeadInjuries" class="form-control" />
                <span asp-validation-for="DreCaseHgn.HeadInjuries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.HeadInjuriesComments" class="control-label"></label>
                <input asp-for="DreCaseHgn.HeadInjuriesComments" class="form-control" />
                <span asp-validation-for="DreCaseHgn.HeadInjuriesComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.Contacts" class="control-label"></label>
                <input asp-for="DreCaseHgn.Contacts" class="form-control" />
                <span asp-validation-for="DreCaseHgn.Contacts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.ContactDescription" class="control-label"></label>
                <input asp-for="DreCaseHgn.ContactDescription" class="form-control" />
                <span asp-validation-for="DreCaseHgn.ContactDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.EqualPupilSize" class="control-label"></label>
                <input asp-for="DreCaseHgn.EqualPupilSize" class="form-control" />
                <span asp-validation-for="DreCaseHgn.EqualPupilSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.PupilSizeComments" class="control-label"></label>
                <input asp-for="DreCaseHgn.PupilSizeComments" class="form-control" />
                <span asp-validation-for="DreCaseHgn.PupilSizeComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.RestingNystagmus" class="control-label"></label>
                <input asp-for="DreCaseHgn.RestingNystagmus" class="form-control" />
                <span asp-validation-for="DreCaseHgn.RestingNystagmus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.EqualTracking" class="control-label"></label>
                <input asp-for="DreCaseHgn.EqualTracking" class="form-control" />
                <span asp-validation-for="DreCaseHgn.EqualTracking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.FollowStimulus" class="control-label"></label>
                <input asp-for="DreCaseHgn.FollowStimulus" class="form-control" />
                <span asp-validation-for="DreCaseHgn.FollowStimulus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.StimulusComments" class="control-label"></label>
                <input asp-for="DreCaseHgn.StimulusComments" class="form-control" />
                <span asp-validation-for="DreCaseHgn.StimulusComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.LackOfPursuitL" class="control-label"></label>
                <input asp-for="DreCaseHgn.LackOfPursuitL" class="form-control" />
                <span asp-validation-for="DreCaseHgn.LackOfPursuitL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.LackOfPursuitR" class="control-label"></label>
                <input asp-for="DreCaseHgn.LackOfPursuitR" class="form-control" />
                <span asp-validation-for="DreCaseHgn.LackOfPursuitR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.DistinctMaxDevL" class="control-label"></label>
                <input asp-for="DreCaseHgn.DistinctMaxDevL" class="form-control" />
                <span asp-validation-for="DreCaseHgn.DistinctMaxDevL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.DistinctMaxDevR" class="control-label"></label>
                <input asp-for="DreCaseHgn.DistinctMaxDevR" class="form-control" />
                <span asp-validation-for="DreCaseHgn.DistinctMaxDevR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.OnsetPrior45L" class="control-label"></label>
                <input asp-for="DreCaseHgn.OnsetPrior45L" class="form-control" />
                <span asp-validation-for="DreCaseHgn.OnsetPrior45L" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.OnsetPrior45R" class="control-label"></label>
                <input asp-for="DreCaseHgn.OnsetPrior45R" class="form-control" />
                <span asp-validation-for="DreCaseHgn.OnsetPrior45R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.IsVerticalNyst" class="control-label"></label>
                <input asp-for="DreCaseHgn.IsVerticalNyst" class="form-control" />
                <span asp-validation-for="DreCaseHgn.IsVerticalNyst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.OtherComments" class="control-label"></label>
                <input asp-for="DreCaseHgn.OtherComments" class="form-control" />
                <span asp-validation-for="DreCaseHgn.OtherComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.HgnUnderstood" class="control-label"></label>
                <input asp-for="DreCaseHgn.HgnUnderstood" class="form-control" />
                <span asp-validation-for="DreCaseHgn.HgnUnderstood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.VerticalNyst" class="control-label"></label>
                <input asp-for="DreCaseHgn.VerticalNyst" class="form-control" />
                <span asp-validation-for="DreCaseHgn.VerticalNyst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.HgnEstimatedAngleId" class="control-label"></label>
                <input asp-for="DreCaseHgn.HgnEstimatedAngleId" class="form-control" />
                <span asp-validation-for="DreCaseHgn.HgnEstimatedAngleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.LestimatedAngleId" class="control-label"></label>
                <input asp-for="DreCaseHgn.LestimatedAngleId" class="form-control" />
                <span asp-validation-for="DreCaseHgn.LestimatedAngleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.RestimatedAngleId" class="control-label"></label>
                <input asp-for="DreCaseHgn.RestimatedAngleId" class="form-control" />
                <span asp-validation-for="DreCaseHgn.RestimatedAngleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreCaseHgn.ConvergencePresent" class="control-label"></label>
                <input asp-for="DreCaseHgn.ConvergencePresent" class="form-control" />
                <span asp-validation-for="DreCaseHgn.ConvergencePresent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
